@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* ═══════════════════════════════════════════════════════════════
   BUTTONS
   standard button that u have to use, and allowed variations :D
   ═══════════════════════════════════════════════════════════════ */


